.dialogue{
    // width: 100%;
    position: sticky;
    bottom: 0;

    &__position{
        // display: flex;
        // flex-direction: column;
        // justify-content: right;
        position: relative;
        right: 1rem;
    }

    &__closeIcon{
        height: 10px;
        width: auto;
        // position: absolute;
        // right: 1rem;
    }
    &__helpImg{
        height: 300px;
        width: auto;
        // position: absolute;
        // right: 1rem;
    }
    &__floatBtnImg{
        height: 70px;
        width: auto;
        // position: absolute;
        // right: 1rem;
    }
}