//font
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

//mixins
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

body { 
  max-width: 80rem;
  margin: auto;
}

body,h1,h2,h3,h4,h5,li,p{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Jakarta Sans", sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}